<!DOCTYPE html>
<html ng-app="HelloWordApp">
  <head>
    <title>index.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=ISO-8859-1">
	<script src="../../js/angular.js"></script>
	<script src="../app.js"></script>
	<script src="../controller/helloctrl.js"></script>
  </head>
  
  <body ng-controller="HelloCtrl">
    This is my HTML page{{name}} <br>
  </body>
</html>
